* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');




.container {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}





.bolder {
    font-weight: bold;
}






.police {
    font-family: "EB Garamond", serif;
    font-weight: 300;
    font-style: normal;
}

/*css couleur et img*/




.bgclair {
    background-color: #F4E0C0;
}




.bgimg1 {
    height: 90vh;
    background-image: url(images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}





.bgimg2 {
    background-image: url(fond-carte2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}









.colorwhite {
    color: #231B15
}








.colorclair {
    color: rgb(250, 247, 240);
}







.bglightblack {
    background-color: rgb(228, 214, 169)
}



/*flexbox*/

.flex {
    display: flex;
    flex-wrap: wrap;
}







.colunm {
    flex-direction: column;
}







.spacebetween {
    justify-content: space-between;
}







.txtcenter {
    justify-content: center;
}






.aligncenter {
    align-items: center;
}




/*bouton et card et survol*/

.btn {
    display: inline-block;
    border: solid 5px transparent;
    border-radius: 10px;
    background-color: white;
    color: black;
    width: fit-content;
    padding: 5px 5px;
    cursor: pointer;
}

.card {
    border: solid 5px transparent;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.39);
    color: rgb(250, 247, 240);
    width: 30%;
}


.btn:hover {
    background-color: orange;
}



/*agencement et mise en page*/

/* box et center*/


.box {
    position: fixed;
    width: 100%;
}






.center {
    text-align: center;
}




/*taille width*/

.w70 {
    width: 70px;
}







.w100 {
    width: 100%;
}







.w50 {
    width: 50%;
}





/*padding*/

.padright {
    padding-right: 10px;
}







.padbottom50 {
    padding-bottom: 50px;
}







.padtop50 {
    padding-top: 50px;
}







.padbottom20 {
    padding-bottom: 20px;
}








.padding16 {
    padding: 16px;
}







.padbottom10 {
    padding-bottom: 10px;
}





/*margin*/

.margright30 {
    margin-right: 30px;
}


.margbottom30 {
    margin-bottom: 30px;
}

.margtop50 {
    margin-top: 50px;
}






.margtop30 {
    margin-top: 30px;
}